{% extends "base/base.html" %}
{% block titulo %}Contribuição - Aliança Aurora{% endblock %}
{% block corpo %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/contribuicao.css') }}">
<main>
  <section class="contribuicao-section">
    <h1 class="titulo-contribuicao"><i class="fas fa-star"></i> Minha Contribuição no Projeto</h1>
    <p>Contribuir com este projeto é uma realização pessoal, pois acredito profundamente que toda mulher merece se
      sentir <strong>inclusa, respeitada e valorizada</strong>. Lutar por mais inclusão, equidade e representatividade
      feminina é um dos meus maiores objetivos.</p>

    <p>Participei da criação de todas as páginas, da identidade visual e do desenvolvimento da marca <strong>Aliança
        Aurora</strong>, sempre pensando em como acolher e representar cada mulher que acessar essa plataforma.</p>

    <p>Desde o conceito até a escolha das cores e do tom das mensagens, tudo foi pensado com cuidado, empatia e
      propósito. Desejo que aqui cada mulher encontre oportunidades reais, conexões verdadeiras e um espaço onde possa
      crescer sem medo de ser quem é.</p>

    <p class="conclusao">Essa contribuição é mais do que técnica — é uma entrega com carinho, por um projeto que nasce
      para transformar.</p>
  </section>

</main>
{% endblock %}